extends ./layout.pug

block scripts

block content
    - hookCharacters = ['Peter', 'Nana', 'Captain Hook']
    ul
        each character, index in hookCharacters
            li= index + ': ' + character

    - var n = 0;
    ul
        while n < 4
            li= n++

    - var values = [];
    ul
        each val in values.length ? values : ['There are no values']
            li= val


block foot