doctype html
html(lang='en')
  head
    title= title
    style(type="text/css").
      body { 
        color:  black;
        font-family: Arial, Helvetica, sans-serif;
      }
    block scripts
  body
    block content
      ul
        each val in documents
          li= `Superhero Name: ` + val.name + ` 1Power: ` + val.power
    block foot