doctype html
html(lang='en')
  head
    title= title
    style(type="text/css").
      body { 
        color:  black;
      }
    block scripts
  body
    block content
      ul
        each val in documents
          li= val._id + ': ' + val.name
    block foot