doctype html
html(lang='en')
  head
    title= title
    style(type="text/css").
      body { 
        color: black;
        font-family: Helvetica, Arial;
        font-weight: bold;
        font-size: 3;
        background-color: silver;
      }
      h1 {
        color: darkblue;
      }
    block scripts
  body
    block content
    block foot